body {
    background-color: lightblue;
  }

  h1 {
    color: red;
  }

  img {
    width: 400px;
    height: 300px;
    display: block;
    margin: auto;
  }
  
  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  footer {
    text-align: center;
  }